/* Add application styles & imports to this file! */
body{
    background-color: #fb0605;
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
