<div class="fundo">
  <div *ngIf="selectedPoke" class="row">
    <div class="container">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{selectedPoke.id}}.png"/>
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/{{selectedPoke.id}}.png"/>
      <h2>#{{selectedPoke.id}} {{selectedPoke.name}} </h2>
      <p><b>Base experience:</b> {{selectedPoke.base_experience}}</p>
      <p><b>Types:</b> {{ typePoke }}</p>
      <div class="row">
        <div class="col">
        <table>
          <tr>
            <th>Stat</th>
            <th>Base Stat</th>
          </tr>
          <tr *ngFor="let stat of selectedPoke.stats">
            <td>{{stat.stat.name}}</td>
            <td>{{stat.base_stat}}</td>
          </tr>
        </table>
        </div>
         <div class="col">
        <table>
          <tr>
            <th>Moves</th>
          </tr>
          <tr *ngFor="let move of selectedPoke.moves; index as count">
            <td *ngIf="count < 6">{{move.move.name}}</td>
          </tr>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

